/* Main Rules */

:root {
    --white-c: #fff;
    --black-c: #000;
    --buttons-background-c: rgba(255, 255, 255, 0.219);
    --buttons-active-background-c: rgba(135, 207, 235, 0.493);
    --main-c: #fee6de;
    --main2-c: #FEF6DE;
    --accent-c: #d26b78;
    --accent2-c: #d26b78;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--white-c);
    width: 2px;
    border-left: 4px solid var(--white-c);
    border-right: 4px solid var(--white-c);
}

::-webkit-scrollbar-thumb:vertical {
    width: 2px;
    background-color: var(--white-c);
    border-radius: 1000px;
    border: 4px solid var(--white-c);
    border-top: 7px solid var(--white-c);
    border-bottom: 7px solid var(--white-c);
}

@font-face {
    font-family: "kaori";
    src: url('https://dl.dropboxusercontent.com/s/gifpgk1qx565q7z/KaoriGel.ttf');
}

@font-face {
    font-family: "consola";
    src: url('https://dl.dropboxusercontent.com/s/ajl0g0haqzjxqs5/CONSOLA.TTF');
}

@font-face {
    font-family: "thequeenthine";
    src: url('https://static.tumblr.com/km932n4/qhQphsz8f/thequeenthine.ttf');
}

@font-face {
    font-family: "cafe brewery";
    src: url('https://static.tumblr.com/km932n4/yEZpi40th/caf_____brewery_2.0.ttf');
}

@fa-font-path: "../font";
html {
    min-height: 100%;
    position: relative;
    height: 100%;
    font-size: 1vw;
}

body {
    color: #1E292B;
    background: var(--white-c);
    background-size: 200px auto;
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    height: 100%;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=3840");
}

a {
    color: var(--accent-c);
}

#title {
    font-size: 12rem;
    letter-spacing: 0px;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 100;
    margin-left: -22px;
}

.ml12 {
    color: white;
    font-family: 'kaori', sans-serif;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-top: 0px;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml16 {
    color: var(--accent-c);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8em;
    letter-spacing: 2em;
    overflow: hidden;
    margin-top: -1.0rem;
}

.ml16 .letter2 {
    display: inline-block;
    line-height: 1em;
}

.ml13 {
    color: white;
    font-family: 'thequeenthine';
    font-size: 8.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.ml13 .letter3 {
    display: inline-block;
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik';
    font-weight: 500;
}

h1 {
    font-size: 4.0rem;
    font-weight: 500;
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--accent-c);
    border-bottom: 1px solid var(--main-c);
    font-family: 'Kaori';
}

h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'kaori', sans-serif;
}

input[type="radio"] {
    display: none;
}

.js-slider {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.js-slider_item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform-origin: right center;
    transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
    transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}

#s-1:checked~.js-slider .js-slider_item.img-1,
#s-2:checked~.js-slider .js-slider_item.img-2,
#s-3:checked~.js-slider .js-slider_item.img-3,
#s-4:checked~.js-slider .js-slider_item.img-4,
#s-5:checked~.js-slider .js-slider_item.img-5,
#s-6:checked~.js-slider .js-slider_item.img-6,
#s-7:checked~.js-slider .js-slider_item.img-7,
#s-8:checked~.js-slider .js-slider_item.img-8,
#s-9:checked~.js-slider .js-slider_item.img-9,
#s-10:checked~.js-slider .js-slider_item.img-10 {
    opacity: 1;
    visibility: visible;
    transform-origin: left center;
    transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}

.js-slider_img {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.c-img-w-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
}

.c-img-h-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
}

figcaption {
    display: block;
}

.wo-h3 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--accent2-c);
}

.c-label {
    display: inline-block;
    color: #eee;
    background-color: var(--accent2-c);
    line-height: 1;
    padding: 0.5em 0.9em;
    margin-right: 0.5em;
    font-size: 1.4rem;
    font-weight: bold;
}

.view-sm {
    display: none;
}

.js-slider_nav {
    position: absolute;
    left: 0;
    top: 50%;
    width: 112%;
    transform: translate3d(0, -50%, 0);
}

.js-slider_nav_item.prev {
    left: 0;
}

.js-slider_nav_item.next {
    right: 0;
    transform: rotateY(180deg);
}

.js-slider_nav_item {
    position: absolute;
    display: none;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--accent2-c);
    border-radius: 50%;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.js-slider_nav_item:before {
    content: "";
    display: block;
    position: absolute;
    left: 1rem;
    top: 55%;
    width: 1rem;
    height: 1px;
    background-color: var(--accent2-c);
    transform-origin: left bottom;
    transform: translate3d(0, -50%, 0) rotate(-45deg);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.js-slider_nav_item:hover {
    transform: translate3d(-30%, 0, 0);
}

.js-slider_nav_item.next:hover {
    transform: rotateY(180deg) translate3d(-30%, 0, 0);
}

.js-slider_nav_item:hover:before {
    transform: translate3d(0, -50%, 0) rotate(-30deg);
}

.js-slider_nav_item:after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 2rem;
    height: 1px;
    background-color: var(--accent2-c);
    transform: translate3d(-50%, -50%, 0);
}

#s-1:checked~.js-slider .js-slider_nav .s-nav-1,
#s-2:checked~.js-slider .js-slider_nav .s-nav-2,
#s-3:checked~.js-slider .js-slider_nav .s-nav-3,
#s-4:checked~.js-slider .js-slider_nav .s-nav-4,
#s-5:checked~.js-slider .js-slider_nav .s-nav-5,
#s-6:checked~.js-slider .js-slider_nav .s-nav-6,
#s-7:checked~.js-slider .js-slider_nav .s-nav-7,
#s-8:checked~.js-slider .js-slider_nav .s-nav-8,
#s-9:checked~.js-slider .js-slider_nav .s-nav-9,
#s-10:checked~.js-slider .js-slider_nav .s-nav-10 {
    display: block;
}

.js-slider_indicator {
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    text-align: center;
}

.js-slider-indi {
    position: relative;
    display: inline-block;
    padding: 2rem;
    cursor: pointer;
}

.js-slider-indi:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: var(--accent2-c);
    transform: translate3d(-50%, -50%, 0);
}

.js-slider-indi:hover:after {
    transform: translate3d(-50%, -50%, 0) scale(1.5);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#s-1:checked~.js-slider .js-slider_indicator .indi-1:after,
#s-2:checked~.js-slider .js-slider_indicator .indi-2:after,
#s-3:checked~.js-slider .js-slider_indicator .indi-3:after,
#s-4:checked~.js-slider .js-slider_indicator .indi-4:after,
#s-5:checked~.js-slider .js-slider_indicator .indi-5:after,
#s-6:checked~.js-slider .js-slider_indicator .indi-6:after,
#s-7:checked~.js-slider .js-slider_indicator .indi-7:after,
#s-8:checked~.js-slider .js-slider_indicator .indi-8:after,
#s-9:checked~.js-slider .js-slider_indicator .indi-9:after,
#s-10:checked~.js-slider .js-slider_indicator .indi-10:after {
    transform: translate3d(-50%, -50%, 0) scale(2.5);
}